@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&subset=latin-ext');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    background: #fff;
}

.pasek {
    width: 100%;
    height: 60px;
    background: #e1261c;
}

.container {
    background: white;
    padding: 20px;
}

.hidden {
	display: none !important;
}

img.zdj {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

h1 {
	font-weight: 700;
    margin-bottom: 25px;
	font-size: 34px;
}

.streszczenie {
	font-weight: 400;
}

.artykul h3 {
	font-weight: 700;
    color: #303030;
    font-size: 20px;
}

a.btn.btn-danger {
    font-size: 18px;
    padding: 14px 30px;
    max-width: 600px;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    width: auto;
    border-radius: 0;
}

blockquote {
    border-left: 5px solid #f62a2a;
    padding-left: 20px;
    font-style: italic;
}

.autordata {
    background: #ffffff;
    margin-bottom: 20px;
}

.tag {
    background: black;
    color: white;
    font-size: 12px;
    padding: 6px 9px;
}

.logo {
    width: 230px;
}

.menu1 {
    display: inline-block;
    text-align: right;
    float: right;
    margin-top: 15px;
}

.menu1 a {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 15px;
}

.pasek2 {
	background: #ca2219;
	height:30px;
    overflow: hidden;
}

.pasek2 a {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.7;
    padding: 9px 12px;
    transition: 0.4s ease-in-out all;
}

.pasek2 a:hover {
	opacity: 1;
	text-decoration: none;
}

.menu1 a:hover {
    background: #00000024;
    text-decoration: none;
}

@media (max-width: 992px) {
	.menu1 {
		display: none;
	}
	.logo {
	    margin: 0 auto;
	    display: block;
	}
}

.rate {
    min-width: 80px;
    display: inline-block;
    margin-top: 15px;
}

.rate_number {
    font-size: 21px;
    font-weight: 700;
    color: black;
}

.rate_height {
    background: #d3ddee;
    margin: 0 5px;
}

.rate_box {
    min-width: 80px;
    display: inline-block;
    border: 1px solid #cecece;
    padding: 8px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    cursor:pointer;
}

.rate_box:hover {
	opacity: 0.7;
}

.autor {
    background: #f4f4f4;
    color: black;
    font-size: 12px;
    padding: 6px 9px;
    text-transform: uppercase;
    padding-left:0;
}

.autordata i {
    margin-right: 5px;
}

.social_box {
    width: 60px;
    height: 60px;
    background: #555;
    color: white;
    padding: 13px;
    text-align: center;
    font-weight: 400;
    transition: 0.3s ease-in-out all;
    margin-right: 5px;
	display: inline-block;
    vertical-align: top;
}

.social_box span {
    display: block;
    line-height: 15px;
}

.social_box:hover {
	opacity: 0.8;
	cursor: pointer;
}

.socials {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 15px;
    font-size: 27px;
    font-weight: 700;
    border-radius: 6px;
}

.fa-star {
    color: #edc906;
}

.ocenaartykulu {
    color: #a1a1a1;
    text-align: center;
}

.article-wrapper {
	margin-top: 20px
}

.article-wrapper::after {
	clear: both;
	content: ' ';
	display: table
}

.sidebar img {
    width: 100%;
}

.footer {
    background: #ca2219;
    color: white;
    padding: 15px;
    text-align: center;
}

@media all and (min-width:728px) {
	.article-wrapper {
		margin-top: 15px
	}
}

@media all and (min-width:1024px) {
	.article-wrapper {
		position: relative
	}
	.article-wrapper:before {
		background-color: #c2c2c2;
		content: ' ';
		height: 100%;
		position: absolute;
		right: 332px;
		top: 0;
		width: 1px
	}
	.article-wrapper .related-column {
		float: right;
		width: 300px
	}
	.article-wrapper .related-column>* {
		display: block;
		overflow: hidden;
		position: relative
	}
	.article-wrapper .related-column>:not(:empty) {
		margin-bottom: 48px
	}
	.article-wrapper .content-column {
		float: left;
		width: calc(100% - 367px)
	}
}

@media all and (min-width:1240px) {
	.article-wrapper {
		margin-top: 23px
	}
}


.fb--container label {
	cursor: pointer;
	color: #666;
	font-weight: 700;
	vertical-align: middle
} 

.fb--container .likeBtn {
    background: url(../images/img-like.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    padding-left: 20px;
}

.fb--container .likeBtn2 {
    background: url(../images/img-like.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    padding-left: 10px;
}

.fb--container label input {
	font-weight: 400
}

.fb--container textarea {
	max-width: 100%
}

.fb--container button,
.fb--container input,
.fb--container label,
.fb--container td,
.fb--container textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px
}

.fb--container a {
	color: #365899;
	cursor: pointer;
	text-decoration: none
}

.fb--container button {
	margin: 0
}

.fb--container a:hover {
	text-decoration: underline
}

.fb--container img {
	border: 0
}

.fb--container abbr {
	border-bottom: none;
	text-decoration: none
}

.fb--container .clearfix::after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden
}

.fb--container .clearfix {
	zoom: 1
}

.fb--container ::-webkit-input-placeholder {
	color: #90949c
}

.fb--container :focus::-webkit-input-placeholder {
	color: #bec2c9
}

.fb--container ._42ft {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap
}

.fb--container ._42ft:hover {
	text-decoration: none
}

.fb--container ._42fr {
	cursor: default
}

.fb--container .lfloat {
	float: left
}

.fb--container .rfloat {
	float: right
}

.fb--container .fss {
	font-size: 9px
}

.fb--container .fsm {
	font-size: 12px
}

.fb--container .fwn {
	font-weight: 400
}

.fb--container .fcg {
	color: #90949c
}

.fb--container a._p {
	display: block
}

.fb--container ._4jy0 {
	border: 1px solid;
	border-radius: 2px;
	box-sizing: content-box;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	padding: 0 8px;
	position: relative;
	text-align: center;
	text-shadow: none;
	vertical-align: middle
}

.fb--container ._4jy0::before {
	content: "";
	display: inline-block;
	height: 20px;
	vertical-align: middle
}

.fb--container ._4jy0 .img {
	bottom: 1px;
	position: relative;
	vertical-align: middle
}

.fb--container ._517h {
	background-color: #f6f7f9;
	border-color: #ced0d4;
	color: #4b4f56
}

.fb--container ._517h:hover {
	background-color: #e9ebee
}

.fb--container ._517h:active {
	background-color: #dddfe2;
	border-color: #bec2c9
}

.fb--container ._4jy1 {
	color: #fff
}

.fb--container ._4jy1 {
	background-color: #4267b2;
	border-color: #4267b2
}

.fb--container ._4jy1:hover {
	background-color: #365899;
	border-color: #365899
}

.fb--container ._4jy1:active {
	background-color: #29487d;
	border-color: #29487d
}

.fb--container ._4jy1._42fr {
	background-color: #9cb4d8;
	border-color: #9cb4d8
}

.fb--container ._4jy3,
.fb--container ._4jy3._42fr:active {
	line-height: 22px
}

.fb--container ._50f3 {
	font-size: 12px;
	line-height: 16px
}

.fb--container ._50f7 {
	font-weight: 700
}

.fb--container ._5kx5 {
	font-weight: 400
}

.fb--container ._50f8 {
	color: #90949c
}

.fb--container ._42ef {
	overflow: hidden
}

.fb--container ._51mz {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0
}

.fb--container ._51mx:first-child>._51m- {
	padding-top: 0
}

.fb--container ._51mx:last-child>._51m- {
	padding-bottom: 0
}

.fb--container ._51mz ._51mw {
	padding-right: 0
}

.fb--container ._51mz ._51m-:first-child {
	padding-left: 0
}

.fb--container ._8o,
.fb--container ._8o .img {
	display: block
}

.fb--container ._8r {
	margin-right: 5px
}

.fb--container ._8s {
	margin-right: 8px
}

.fb--container ._6a {
	display: inline-block
}

.fb--container ._6b {
	vertical-align: middle
}

.fb--container .str4 {
	float: left
}

.fb--container .str5 {
	float: right
}

.fb--container .str6 {
	font-style: normal
}

._aac34::before {
	content: "\f0d7";
	display: inline-block;
	font-family: 'FontAwesome';
    margin-right: 10px;
	vertical-align: middle;
}

.fb--container ._3-8m {
	margin-bottom: 4px;
	margin-top: 4px
}

.fb--container ._3-8y {
	margin-top: 12px
}

.fb--container ._3-8_ {
	margin-right: 4px
}

.fb--container ._3-96 {
	margin-bottom: 12px
}

.fb--container ._3-99 {
	margin-left: 4px
}

.fb--container ._2ph- {
	padding: 8px
}

.fb--container ._2pi3 {
	padding-bottom: 8px;
	padding-top: 8px
}

.fb--container .str2 {
	padding-left: 8px;
	padding-right: 8px
}

.fb--container ._2pis {
	padding-left: 8px
}

.fb--container .sp_Zf93eLkohoS {
	display: inline-block;
	height: 12px;
	width: 12px
}

.fb--container .sp_Zf93eLkohoS.sx_97c3ab {
	width: 14px;
	height: 14px;
	background-position: -19px -182px
}

.fb--container ._2agf {
	word-wrap: normal
}

.fb--container ._55pe {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap
}

.fb--container a.uiLinkSubtle {
	color: #90949c
}

.fb--container .uiInputLabel {
	position: relative
}

.fb--container .uiInputLabelInput {
	margin: 0;
	padding: 0;
	position: absolute
}

.fb--container .uiInputLabel .uiInputLabelLabel {
	display: inline-block;
	margin-left: 17px;
	vertical-align: baseline
}

.fb--container .UFIInputContainer {
	position: relative
}

.fb--container .UFICommentAttachmentButtons {
	bottom: 0;
	height: 24px;
	position: absolute;
	right: 0
}

.fb--container .UFICommentActorName {
	font-weight: 700
}

.fb--container ._5v47 {
	display: inline;
	white-space: nowrap
}

.fb--container ._5uzb {
	padding-right: 3px
}

.fb--container .sp_-J_-HgF_hOz {
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px
}

.fb--container .sp_-J_-HgF_hOz.sx_0beb10 {
	width: 16px;
	height: 15px;
}

.fb--container .sp_LOJ2j-KswDP {
	display: inline-block;
	height: 16px;
	width: 16px
}

.fb--container .sp_LOJ2j-KswDP.sx_1e62d4 {
	width: 12px;
	height: 12px;
	background-position: -365px -220px
}

.fb--container .sp_LOJ2j-KswDP.sx_32ff1f {
	width: 9px;
	height: 8px;
	background-position: -207px -196px
}

.fb--container .str1 {
	font-size: 14px;
	line-height: 1.358;
	word-break: break-word;
	word-wrap: break-word
}

.fb--container ._44ri {
	border-left: 1px dotted #d3d6db
}

.fb--container ._2vq9 {
	font-size: 12px;
	line-height: 1.358;
	padding-top: 2px
}

.fb--container ._2vq9 a {
	color: #4267b2
}

.fb--container ._2vq9 .livetimestamp,
.fb--container ._2vq9 .uiLinkSubtle {
	color: #90949c
}

.fb--container ._4iy4 {
	bottom: -2px;
	position: relative
}

.fb--container ._4q1v {
	color: #90949c;
	display: inline
}

.fb--container ._4q1v a {
	color: #90949c
}

.fb--container ._5mdd {
	word-wrap: break-word
}

.fb--container ._5mdd ._5v47 {
	font-size: 14px
}

.fb--container ._5mdd a {
	color: #4267b2
}

.fb--container ._2392 {
	margin-bottom: 24px
}

.fb--container ._4uyl ._1cb {
	border: 1px solid #d3d6db;
	word-wrap: break-word
}

.fb--container ._1zz8 ._1u9t {
	min-height: 40px
}

.fb--container ._1u9t {
	box-sizing: border-box;
	vertical-align: top;
	width: 100%
}

.fb--container ._4uyl ._1u9t {
	font-size: 14px;
	padding: 12px 8px
}

.fb--container ._5tr6 {
	background: #f6f7f9;
	text-align: right
}

.fb--container ._5tr6 ._42fr:active,
.fb--container ._5tr6 button {
	font-size: 14px;
	white-space: normal
}

.fb--container ._4uym {
	border-width: 0 1px 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #d3d6db;
	border-bottom-color: #d3d6db;
	border-left-color: #d3d6db;
	border-image: initial;
	border-top-style: initial;
	border-top-color: initial
}

.fb--container ._2ern {
	font-size: 12px
}

.fb--container ._1u0n {
	line-height: 24px
}

.fb--container ._5lm5 {
	border-top: 1px solid #e9ebee;
	font-size: 11px
}

.fb--container .str3 {
	border-bottom: 1px solid #e9ebee;
	line-height: 25px;
	margin-bottom: 24px;
	padding: 8px 0
}

.fb--container ._pup {
	color: #4b4f56
}

.fb--container ._5o4h ._1gl3 {
	background: #3578e5;
	border: none;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	margin-top: 24px;
	padding: 12px;
	text-shadow: none;
	width: 100%
}

i.img._8o._8r.img.sp_Zf93eLkohoS.sx_97c3ab {
	background: url('../images/img-fb.png');
	background-size: contain;
	background-repeat: no-repeat;

}

.fb--container ._1ci {
	height: 48px;
	width: 48px
}

.fb--container ._1cj {
	height: 36px;
	width: 36px
}

.fb--container ._5yct {
	background-color: #f6f7f9;
	color: #365899
}

.fb--container ._55sg {
	vertical-align: baseline
}

.fb--container .uiInputLabel ._55sg+.uiInputLabelLabel {
	margin-left: 23px
}

.fb--container ._kv1 {
	position: relative
}

.fb--container .uiInputLabelInput._kv1 {
	position: absolute
}

@media (max-width: 1023px) {
	aside.related-column.sidebar {
	    display: none;
	}
}